
.strength{
    margin-top: 20px;
    height: 20px;
    width: 145px;
    border : 1px solid #ccc;
    background-color: #ededed;
  }
  .default {
    width: 100%;
    height: 100%;
    background-color: #ededed;
  }
  .few{
    height: 100%;
    background-color: red;
    max-width: 100%;
  }
  .red {
    height: 100%;
    background-color: red;
    max-width: 33.3%;
  }
  .yellow {
    height: 100%;
    max-width: 66.6%;
    background-color: yellow;
  }
  .green {
    height: 100%;
    max-width: 100%;
    background-color: green; 
  }