.strength-section {
  display: flex;
  margin-top: 10px;
  width: 200px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: gray;
}

.strength-section div {
  flex: 1;
  transition: background-color 0.3s;
}
.strength-section .red {
  background-color: red;
  max-width: 33.3%;
}

.strength-section .yellow.active {
  background-color: yellow;
  max-width: 66.6%;
}

.strength-section .green.active {
  background-color: green;
  max-width: 100%;
}
